.container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  form {
    margin: auto;
    max-width: 500px;
    text-align: center;

    label {
      width: 25%;
      display: inline-block;
      vertical-align: top;
      font-size: 20px;
      line-height: 30px;
    }

    input {
      font-size: 20px;
      line-height: 30px;
      border: 1px solid #000;
      border-radius: 15px;
      text-align: center;
      margin-bottom: 10px;
      width: 75%;
      display: inline-block;
      vertical-align: top;
    }

    button {
      font-size: 20px;
      line-height: 30px;
      padding: 0 15px;
      margin-bottom: 15px;
      border: 1px solid black;
      border-radius: 15px;
      background-color: #fff;
      color: #000;
      cursor: pointer;
    }
  }

  table {
    width: 100%;
    border: 1px solid black;
    font-size: 20px;
    line-height: 30px;

    th {
      font-weight: bold;
    }

    td,th {
      border: 1px solid black;
      text-align: center;
    }
  }

  ul {
    list-style: none;
    text-align: center;
    margin-bottom: 10px;

    li {
      display: inline-block;
      font-size: 20px;
      line-height: 30px;
      margin: 0 10px;
      width: 150px;
      border: 1px solid black;
      border-radius: 15px;
      background-color: #fff;

      a {
        color: #000;
        display: block;
        text-decoration: none;
      }
    }
  }
}

.error {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}