<html>
<head>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div class="container">
        <ul>
            <li><a href="/firstpage">First Page</a></li>
            <li><a href="/secondpage">Second Page</a></li>
            <li><a href="/thirdpage">Third Page</a></li>
            <li><a href="/fourthpage">Fourth Page</a></li>
        </ul>
    </div>
    <?= $body ?>
</body>
</html>