// SCSS Bits and Variables.
//-------------------------------- VARIABLES
//basic colors
$white:     #ffffff;
$black:     #000000;
$green:     #00ff00;
$orange:    #ffa500;
$ccc :      #ccc;
$eee:       #eee;
$blue:      #0000ff;
$red:       #ff0000;
$pgeneral:  #3a4249;
$yellow:    #ff0;



// Menu

$menuitem:#123156;
$menuitemhover:#97b73c;

// Contact page
$contacttitle:#2f4b6b;
$contactbgf:#ecf4f3;
$contactp: #2c507c;
$contactspan: #0a3d5a;

$afterfirst:#84D1F4;
$aftersecond:#F69679;
$afterthird:#D2C94A;
$afterfourth:#A186BE;

$plusminuborder:#23516b;
$plusfont:#577a8e;

$uploadbg:#0A2D55;

$submitbg:#97b73c;
// Footer

$footerbg:#123156;

  // // Defining values
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


// // Defining values
// $screen-sm-min: 768px;
// $screen-xs-max: ($screen-sm-min - 1);
// $screen-md-min: 992px;
// $screen-sm-max: ($screen-md-min - 1);
// $screen-lg-min: 1200px;
// $screen-md-max: ($screen-lg-min - 1);

// // Usage
// @media (max-width: $screen-xs-max) { ... }
// @media (min-width: $screen-sm-min) { ... }
// @media (max-width: $screen-sm-max) { ... }
// @media (min-width: $screen-md-min) { ... }
// @media (max-width: $screen-md-max) { ... }
// @media (min-width: $screen-lg-min) { ... }

// added code for bootstrap 3 , for a row with no padding between columns.
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 ;
    padding-right: 0 ;
    margin-right: 0 ;
    margin-left:  0 ;
  }
}

//--------------------------------- FONTS
