<div class="container">
    <form action="/firstpage" method="post">
        <label for="group">Group</label><!--
        --><input type="text" name="group" value="<?=$group?>"><!--
        --><label for="speciality">Speciality</label><!--
        --><input type="text" name="speciality" value="<?=$speciality?>"><!--
        --><label for="cafedra">Cafedra</label><!--
        --><input type="text" name="cafedra" value="<?=$cafedra?>"><!--
        --><button type="submit">Find</button>
    </form>
</div>
<?php if($persons) { ?>
    <div class="container">
        <table>
            <tr>
                <th>Surname</th>
                <th>Name</th>
                <th>Patronymic</th>
            </tr>
            <?php foreach ($persons as $person) { ?>
                <tr>
                    <td><?=$person['Surname']?></td>
                    <td><?=$person['Name']?></td>
                    <td><?=$person['Patronymic']?></td>
                </tr>
            <?php } ?>
        </table>
    </div>
<?php } else {?>
    <div class="error">No results!</div>
<?php } ?>