<div class="container">
    <form action="/fourthpage" method="post">
        <label for="firstName">First Name</label><!--
        --><input type="text" name="firstName" value="<?=$firstName?>"><!--
        --><label for="lastName">Last Name</label><!--
        --><input type="text" name="lastName" value="<?=$lastName?>"><!--
        --><label for="patronymic">Patronymic</label><!--
        --><input type="text" name="patronymic" value="<?=$patronymic?>"><!--
        --><button type="submit">Find</button>
    </form>
</div>
<?php if($persons) { ?>
    <div class="container">
        <table>
            <tr>
                <th>Payment Date</th>
                <th>Payment Summary</th>
                <th>Document #</th>
            </tr>
            <?php foreach ($persons as $person) { ?>
                <tr>
                    <td><?=$person['Payment_date']?></td>
                    <td><?=$person['Payment_sum']?></td>
                    <td><?=$person['Document_no']?></td>
                </tr>
            <?php } ?>
        </table>
    </div>
<?php } else {?>
    <div class="error">No results!</div>
<?php } ?>