<div class="container">
    <form action="/secondpage" method="post">
        <label for="firstName">First Name</label><!--
        --><input type="text" name="firstName" value="<?=$firstName?>"><!--
        --><label for="lastName">Last Name</label><!--
        --><input type="text" name="lastName" value="<?=$lastName?>"><!--
        --><label for="patronymic">Patronymic</label><!--
        --><input type="text" name="patronymic" value="<?=$patronymic?>"><!--
        --><button type="submit">Find</button>
    </form>
</div>
<?php if($persons) { ?>
    <div class="container">
        <table>
            <tr>
                <th>Subject Name</th>
                <th>Mark</th>
            </tr>
            <?php foreach ($persons as $person) { ?>
                <tr>
                    <td><?=$person['Subject_name']?></td>
                    <td><?=$person['Mark_name']?></td>
                </tr>
            <?php } ?>
        </table>
    </div>
<?php } else {?>
    <div class="error">No results!</div>
<?php } ?>