<div class="container">
    <form action="/thirdpage" method="post">
        <label for="group">Group</label><!--
        --><input type="text" name="group" value="<?=$group?>"><!--
        --><button type="submit">Find</button>
    </form>
</div>
<?php if($persons) { ?>
    <div class="container">
        <table>
            <tr>
                <th>Subject Name</th>
                <th>Subject Code</th>
            </tr>
            <?php foreach ($persons as $person) { ?>
                <tr>
                    <td><?=$person['Subject_name']?></td>
                    <td><?=$person['Subject_shifr']?></td>
                </tr>
            <?php } ?>
        </table>
    </div>
<?php } else {?>
    <div class="error">No results!</div>
<?php } ?>